header{
    text-align: center;
}
section{
    display: flex;
}
h2{
    font-size: 18px;
}
div{
    width: 25%;
    height: auto;
    background-color: rgb(99, 99, 4);
    margin-right: 5px;
    padding: 10px;
    font-size: 15px;
    font-style: italic;
    text-align: justify;
    
}
.caja1{
    width: 60px;
    height: 60px;
    background-color: red;
    padding: 10px;
    border-width:2px;
}
.caja0{
    width:80px;
    height: 80px;
    background-color: blue;
    border: solid 5px rgb(9, 255, 0);

}